.side-navigation-panel {
  margin: 0 0 0 8px;
  width: 300px;

  *, &:after, &:before {
    border-color: #e2e8f0;
  }

  ul {
    text-transform: capitalize;
    list-style-type: none;
    padding-inline-start: 20px;
  }

  .side-navigation-panel-select {
    .outer-div {
      padding: 12px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: #f7f7fa;
        color: #0a41c5;
      }

      .chevron-up {
        color: #0a41c5;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transition: transform 0.5s;
      }

      .chevron-down {
        color: #555555;
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        transition: transform 0.5s;
      }
    }

    .outer-li-0 {
      .outer-div .outer-div-0 {
        font-family: 'Helvetica Neue', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2c2c2c;

        .outer-text-0 {
          font-family: 'Helvetica Neue', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #0a41c5;
          margin: 0 0 0 15px;
        }
      }

      .side-navigation-panel-select-inner {
        .outer-div-1 {
          //padding: 12px 16px;
          font-family: 'Helvetica Neue', serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          //margin: 0 0 0 15px;
        }
      }

      .selected {
        background: #f7f7fa;
        border-left: 3px solid #0a41c5;
      }
    }
  }
}